.charList {
  width: 90%;
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  list-style: none;
  justify-self: center;

  @include forTablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include forPc {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    grid-gap: 3%;
  }
}
