.charList {
  width: 80%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1.5%;
  list-style: none;

  @include forTablet {
    width: 90%;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 1.5%;
  }
  @include forPc {
    width: 100%;
    grid-template-columns: repeat(4, 20%);
  }
}
