.charLi {
  padding: 6% 3% 6% 3%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 5%;
  transition: 300ms ease;

  &:hover {
    @include forPc {
      transform: scale(1.05);
      border: 2px solid greenyellow;
    }
    @include forXL {
      transform: scale(1.1);
    }
  }

  .cardImg {
    padding: 5px;
    width: 100%;
    justify-self: center;
  }

  .cardName {
    font-family: $fontDefault;
    font-size: $fontSizeXS;
    text-align: center;
    color: white;

    @include forTablet {
      font-size: $fontSizeDefault;
    }
    @include forPc {
      font-size: $fontSizeM;
    }
    @include forXL {
      font-size: $fontSizeXL;
    }
  }

  .cardSpecies {
    font-family: $fontDefault;
    font-size: 0.5rem;
    font-weight: 300;
    text-align: center;
    color: $colorDefault;

    @include forTablet {
      font-size: $fontSizeXS;
    }
    @include forPc {
      font-size: $fontSizeS;
    }
    @include forXL {
      font-size: $fontSizeL;
    }
  }
}
a:link {
  text-decoration: none !important;
}

.warning {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: $fontDefault;
  font-size: $fontSizeM;
  color: white;
  margin: 10px;
  grid-column: 1/-1;
  border: 2px solid yellow;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 80% 20%;

  .warningText {
    font-size: 3rem;
    align-self: center;
    padding-left: 20px;
  }

  .warning2 {
    height: 220px;
    grid-column: 2/3;
  }
}
