.form {
  z-index: 950;
  font-size: 12px;
  font-family: $fontDefault;
  font-weight: 300;
  position: fixed;
  width: 120px;
  height: 30px;
  top: 14%;
  left: 55%;

  @include forTablet {
    width: 140px;
    height: 30px;
    top: 16%;
    margin-top: -18px;
    left: 50%;
    margin-left: -65px;
  }
  @include forPc {
    top: 15%;
    margin-top: -14px;
  }
  @include forXL {
    font-size: $fontSizeM;
    top: 18%;
    left: 50%;
    width: 180px;
    margin-left: -80px;
  }

  .filter {
    width: 100%;
    height: 25px;
    padding-left: 7%;
    padding-top: 1%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $colorHighlight;
    color: $colorHighlight;

    @include forTablet {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.56);
      box-shadow: inset 2px 1px 2px 2px rgba(0, 0, 0, 0.8);
    }

    @include forPc {
      font-size: 1.1rem;
      height: 25px;
    }
  }
  ::placeholder {
    font-size: 0.7rem;
    font-weight: 300;
    color: rgb(206, 206, 206);

    @include forTablet {
      font-size: 0.8rem;
      color: whitesmoke;
    }
    @include forPc {
      font-size: 1.1rem;
    }
  }
}
