.form {
  font-family: $fontDefault;
  font-weight: 300;
  position: fixed;
  top: 21%;
  left: 37%;
  @include forTablet {
    left: 42%;
  }
  @include forPc {
    left: 45%;
  }

  .filter {
    width: 60%;
    padding-left: 5%;
    border-radius: 20px;
    border: none;
    height: 15px;
    color: rgb(61, 61, 61);

    @include forTablet {
      width: 80%;
      height: 20px;
    }
    @include forPc {
      height: 25px;
    }
  }
}
