.header {
  background: url(../../images/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: fixed;
  width: $sizeFull;
  height: 20%;
  padding-top: 10px;
  padding-left: 22%;
  z-index: 998;

  @include forTablet {
    justify-content: space-evenly;
    padding-top: 0;
    padding-left: 0;
  }
  @include forXL {
    height: 24%;
  }

  a {
    display: flex;
    justify-content: center;
  }

  .headerImg {
    height: 95%;

    @include forTablet {
      height: 100%;
    }
    @include forXL {
      height: 97%;
    }
  }
}
