@mixin forTablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin forPc {
  @media all and (min-width: $pc) {
    @content;
  }
}

@mixin forXL {
  @media all and (min-width: $xl) {
    @content;
  }
}

@mixin forSubtitle {
  align-self: center;
  font-family: $fontDefault;
  font-size: $fontSizeDefault;
  color: rgb(24, 24, 24);
}

@mixin forDetails {
  align-self: center;
  font-family: $fontDefault;
  font-weight: lighter;
  font-size: $fontSizeDefault;
  color: rgb(24, 24, 24);
}

@mixin forSpeciesS {
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $sizeIconS;
  height: $sizeIconS;
  grid-row: 4;
  grid-column: 3/5;
}

@mixin forStatusS {
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $sizeIconS;
  height: $sizeIconS;
  grid-row: 7;
  grid-column: 3/5;
}

@mixin forStatusM {
  width: $sizeIconM;
  height: $sizeIconM;
  margin-left: 7%;
}

@mixin forStatusL {
  width: $sizeIconL;
  height: $sizeIconL;
}

@mixin forStatusXL {
  width: $sizeIconXL;
  height: $sizeIconXL;
  margin-left: $sizeM;
}

@mixin forTabletSizing {
  font-size: $fontSizeM;
  margin-left: 7%;
}

@mixin forPcSizing {
  font-size: $fontSizeL;
  margin-left: $sizeS;
}

@mixin forXlSizing {
  font-size: $fontSizeXL;
  margin-left: $sizeM;
  padding-top: $sizeS;
  padding-bottom: $sizeS;
}
