$fontDefault: "Oswald", sans-serif;
//COLORS
$colorDefault: #97ce4c;
$colorBgDark: black;
$boxShadowD: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
//SIZES
$tablet: 768px;
$pc: 1024px;
$xl: 1200px;
$sizeIconS: 20px;
$sizeIconM: 25px;
$sizeIconL: 35px;
$sizeIconXL: 40px;
$sizeS: 5%;
$sizeM: 15%;
$sizeL: 25%;
$sizeFull: 100%;
$fontSizeDefault: 0.9rem;
$fontSizeXS: 0.7rem;
$fontSizeS: 1rem;
$fontSizeM: 1.2rem;
$fontSizeL: 1.4rem;
$fontSizeXL: 1.7rem;
