@import "./base/reset";
@import "./base/structure";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/characterList";
@import "./layout/characterCard";
@import "./layout/characterDetail";
@import "./layout/filter";

.appContainer {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
