@import "./base/reset";
@import "./base/structure";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/characterList";
@import "./layout/characterCard";
@import "./layout/characterDetail";
@import "./layout/filter";

.app {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: 20vh 5vh 1fr 5vh;
}
