@import "./utils/variables";
@import "./utils/mixins";

.wrongURL {
  background-color: $boxBg;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 3%;
  border-radius: 6px;
  border: 2px solid black;

  @include forTablet {
    top: 37%;
    margin-top: -200px;
    margin-left: -200px;
    padding: 5%;
    width: 400px;
    height: 400px;
  }

  @include forPc {
    margin-top: -250px;
    margin-left: -250px;
    padding: 2%;
    width: 500px;
    height: 500px;
  }

  .closeDetail {
    display: block;
    height: 25px;
    text-align: right;
    font-size: 15px;
    font-family: $fontDefault;
    padding-bottom: 1%;
    width: 25%;
    margin-left: 75%;
    transition: 300ms ease;

    @include forPc {
      font-size: 20px;
      width: 25%;
      &:hover {
        transform: scale(1.2);
      }
    }
    @include forXL {
      height: 35px;
    }

    .fa-chevron-left {
      font-size: $fontSizeXS;
      color: hotpink;
      padding-right: 5px;

      @include forPc {
        font-size: 1.1rem;
      }

      @include forXL {
        font-size: 1.3rem;
      }
    }
    .close {
      color: white;
      display: inline;
      font-weight: 300;
      text-transform: capitalize;
      font-size: $fontSizeXS;

      @include forTablet {
        letter-spacing: 2px;
        font-size: 1.5rem;
      }

      @include forXL {
        font-size: 1.8rem;
      }
    }
  }

  .warningImg {
    width: 60px;
    height: 60px;
    margin-top: 6%;

    @include forTablet {
      width: 100px;
      height: 100px;
      margin-top: 10%;
    }
    @include forPc {
      width: 150px;
      height: 150px;
    }
  }

  .warningText {
    font-family: $fontDefault;
    font-size: $fontSizeM;
    color: rgb(255, 220, 21);
    margin-top: 10%;

    @include forTablet {
      font-size: 2rem;
    }

    @include forPc {
      font-size: 3rem;
    }
  }
}
